.testDiv {
    display: inline;
    color: blue;
    font-size: 28px;
}

.test {
    display: block;
    color: blue;
    font-size: 18px;
}


.label {
    font-family: "Courier New";
    display: block;
    margin-top: 5px;
}

.outputs {
    display: inline;
}